.said {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10rem;
}

.said-section {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 40%;
  overflow-x: hidden;
  padding-top: 55px;
  cursor: pointer;
  width: 100%;
}

.avatar-div {
  background-color: hsl(0, 0%, 97%);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-right: 2rem; */
  margin-bottom: 3rem;
  text-align: center;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
}

.pictures-avatar {
  height: 6rem;
  width: 6rem;
  position: relative;
  top: -50px;
}

.avatar-div h3 {
  margin-top: -1rem;
}

.button-3 {
  height: 50px;
  width: 150px;
  border-radius: 15% / 50%;
  background-color: hsl(12, 88%, 59%);
  border-width: 0px;
  padding: 0px;
  color: white;
  font-weight: 550;
  box-shadow: 1px 5px 20px 1px hsl(12, 88%, 59%);
  text-align: center;
}

.button-3-div {
  text-align: center;
  margin-bottom: 10rem;
}

.button-3:hover {
  cursor: pointer;
}

.button-3:active {
  background-color: hsl(12, 89%, 65%);
}

.said-section-mobile {
  display: none;
  background-color: hsl(0, 0%, 97%);
  flex-direction: column;
  align-items: center;
  margin-right: 2rem;
  margin-bottom: 3rem;
  text-align: center;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
}

@media only screen and (max-width: 600px) {
  .said-section {
    display: none;
  }

  .said-section-mobile {
    display: flex;
    align-self: center;
    width: 80%;
    margin-left: 0;
    margin-right: 0;
    /* border: 1px solid green; */
  }

  .avatar-div {
    display: none;
  }

  .avatar-div-mobile {
    display: block;
  }

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 1rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

  .dots {
    margin-top: 0rem;
    margin-bottom: 3.5rem;
  }

  .active,
  .dot:hover {
    background-color: #717171;
  }
  .carousel-button {
    background: none;
    border: none;
    font-size: 2.5rem;
    cursor: pointer;
    z-index: 100;
  }

  .carousel-button:active {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .carousel-button-div {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-self: center;
    /* margin-left: -1rem; */
    align-items: center;
    left: 0;
    right: 0;
    top: 7rem;
    /* padding: 0 0.5rem; */
    width: 110%;
    height: 30%;
    /* border: 1px solid red; */
  }
}
