footer {
    background-color: hsl(228, 39%, 23%);
    height: 250px;
    display: flex;
    justify-content: space-around;
    padding: 2rem 10rem;
}

.head1, .head3 {
    width: 20%;
}

.head1 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* padding: 1rem 7rem; */
    align-items: center;
    border: 1px solid red;
}

.footer-logo {
    padding: 2rem 7rem;
}
.social-logos img {
    margin-left: 1rem;
}

.head2 {
    width: 60%;
    display: flex;
    justify-content: space-around;
    border: 1px solid red;
}

.footer-list {
    list-style: none;
    color: seashell;
    line-height: 2.3rem;
}

.footer-button {
    height: 50px;
    width: 80px;
    border-radius: 30% / 50%;
    background-color: hsl(12, 88%, 59%);
    border-width: 0px;
    padding: 0px;
    color: white;
    font-weight: 550;

}

input {
    height: 50px;
    width: 65%;
    min-width: 100px;
    border-radius: 30px;
    padding-left: 1rem;
}

.head3 {
    width: 30%;
    border: 1px solid red;
}




