 html, body {
   margin: 0;
   padding: 0;
  overflow-x: hidden;
} 

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    width: 100%;
    
    background-image: url(./images/bg-tablet-pattern.svg), url(./images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-size: 50rem;
    background-position: top -150px right -50px, top 1075px left -400px;
    /* border: 1px solid blue; */
    
}

.content-container {
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 2rem;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-bottom: 3rem;
    border: 1px solid red;
}
nav {
    /* border: 1px solid black; */
    width: 50%;

}
nav ul{

    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    list-style: none;

}



.nav-link {
    text-decoration: none;
    color:  hsl(228, 39%, 23%);
}

.nav-link:hover {
    color: hsl(0, 1%, 63%);
    cursor: pointer;
}

.header-button {
    height: 50px;
    width: 150px;
    border-radius: 15% / 50%;
    background-color: hsl(12, 88%, 59%);
    border-width: 0px;
    padding: 0px;
    color: white;
    font-weight: 550;
    box-shadow: 1px 5px 20px 1px hsl(12, 88%, 59%);
}

.header-button:hover {
    cursor: pointer;
}

.header-button:active {
    background-color: hsl(12, 89%, 65%);
}